

.cardBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 3%;
    min-height: 100vh;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 30%;
    background: #ff8b97;
    border-radius: 10px;
    color: white;
    z-index: 0;
    flex-shrink: 1;
    min-height: 100%;
}



.card + .card {
    margin-left: 3%;
}

.card:nth-child(2){
    background: #375980;
}

.card:nth-child(3){
    background: #24d2bf;
}


.card li {
    display: flex;
    margin:  0 10%;
    min-height: 10vm;
}

img {
    display: flex;
    position: relative;
    height: 2vw;
    right: -40%;
    z-index: -1;
}

.card li:first-child {
    margin-top: 3vw;
    font-size: 2vw;
}

.card li:nth-child(2) {
    margin-top: 2vw;
    font-size: 3vw;
}

.card li:last-child {
    font-size: 1.5vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

