body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cardBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-height: 20vh;
    min-width: 30vh;
    background: #ff8b97;
    border-radius: 10px;
    color: white;
    z-index: 0;
    overflow: hidden;
    margin: 10px 10px;
}


.card:nth-child(2){
    background: #375980;
}

.card:nth-child(3){
    background: #24d2bf;
}


.card li {
    display: flex;
    margin:  0 20px;
    justify-content: space-between;
}

img {
    display: flex;
    position: relative;
    height: 1.1em;
    z-index: -1;
}

.card li:first-child {
    margin-top: 10%;
    font-size: 1.1em;
}

.card li:nth-child(2) {
    margin-top: 10%;
    font-size: 2em;
}

.card li:last-child {
    position: absolute;
    font-size: 0.9em;
    bottom: 10%;
}


.circle {
    display: inline-flex;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    opacity: 15%;
    z-index: 3;
}

.circle-a {
    top: -40px;
    right: -120px;
}

.circle-b {
    bottom: -100px;
    right: -50px;

}
