html {
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/formBackground.png");
    background-size: cover;
    min-height: 100vh;
    color: white;
}

.contactForm {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    max-width: 90vw;
    max-height: 90vh;
    box-shadow: 0 0 32px 8px rgba(0,0,0,0.75);
    padding: 3vh;
}


.contactForm div {
    display: flex;
    flex-direction: row;
}

.contactForm div + div {
    margin-top: 2vh;
}


.contactForm .cardHead {
    flex-direction: column;
}

.contactForm h1 {
    font-size: 5vh;
    font-weight: bold;
}

.contactForm p{
    font-size: 1.5vh;
    padding: 1vh 0 2vh;
}



.contactForm label {
    min-width: 30vh;
}

.contactForm input, .contactForm select{
    height: 4vh;
}

.contactForm input + input{
    margin-left: 1vh;
}

input, textarea, select {
    width: 100%;
    height: 100%;
    padding-left: 2vh;
}

.submit {
    padding: 2vh 0;
    border-top:1px solid white;
}
.submit input[type="submit"] {
    margin-left: 30vh;
    height: 4vh;
    background: none;
    border:2px solid white;
    color: white;
    font-weight: bold;
}



@media screen and (max-width: 1200px) and (orientation:portrait){

    .contactForm {
        height: 85vh;
        width: 80vw;
    }

    .contactForm div + div {
        margin-top: 1vh;

    }

    .contactForm div {
        flex-direction: column;
    }

    .contactForm label {
        width: unset;
    }

    .contactForm input + input {
        margin-left: unset;
        margin-top: 0.5vh;
    }

    .submit input[type="submit"] {
        margin-left: unset;
    }

    input, textarea, select {
        width: unset;
    }


}
